<template>
  <div class="home">
    <h1> Find The Best Movies To Watch Tonight</h1>
    <div class="form">
      <b-navbar type="light" variant="light">
        <b-nav-form>
         <b-form-input class="mr-sm-2" v-model="searchFilm" placeholder="Search programme"></b-form-input>
         <b-button variant="outline-success" class="my-2 my-sm-0" @click="getData">Search</b-button>
        </b-nav-form>
      </b-navbar>
    </div>
    <div class="video-container">
      <div v-for="video in videos" :key="video.id">
        <router-link :to="{ name: 'video-watch', params: { id: video.id } }">
          <div class="video-box">
            <img :src="video.thumbnail" />
            <div>
              <h3>{{ video.title }}</h3>
              <h4>{{ video.subtitle }}</h4>
            </div>
          </div>
        </router-link>
      </div>
    </div>
  </div>
</template>

<script>
// @ is an alias to /src
// import axios from "axios";
import * as Api from '@/services/Api.js'
export default {
  name: "Home",
  components: {},
  data() {
    return {
      videos: this.$store.state.videos,
      searchFilm: ""
    };
  },
  methods: {
    async getData() {
      let response = await Api.GetData(this.searchFilm);
      console.log(response)
      for (var obj of response.contents) {
        this.videos.push({
          id: obj.id,
          title: obj.title[0].value,
          subtitle: obj.subtitle,
          description: await Api.GetDetail(obj.detaillink) ,
          thumbnail: Api.baseUrl + obj.fullscreenimageurl,
          videoUrl: ""
        });
      }
    }
  }
  // watch : {
  //   videos : () =>{
  //     this.$store.dispatch('init')
  //   }
  // }
};
</script>

<style scoped lang="scss">
.video-container {
  .video-box {
    border: 1px solid black;
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
    text-align: left;

    display: flex;
    justify-content: flex-start;

    img {
      width: 200px;
      padding: 10px;
    }
    h3 {
      font-family: "Times New Roman", Times, serif;
      letter-spacing: 2px;
      color: #000;
      font-weight: 700;
      font-style: italic;
      text-transform: uppercase;
    }
    h4 {
      font-family: "Times New Roman", Times, serif;
      font-size: 15px;
      letter-spacing: 2px;
      color: #000;
      font-weight: 200;
      font-style: italic;
      text-transform: uppercase;
    }
      
  }
}
.form {
  margin-top: 50px;
}

</style>
