<template>
  <div>
    <h1>{{ video.title }}</h1>
    <h2> {{video.subtitle}} </h2>
    <video-player  class="video-player-box"
                       ref="videoPlayer"
                       :options="playerOptions">
    </video-player>
    <!-- <ShakaPlayer></ShakaPlayer> -->
    <p> {{video.description.contents.pitch}} </p>
  </div>
</template>

<script>

// import ShakaPlayer from '@/components/ShakaPlayer'
import 'video.js/dist/video-js.css'
import { videoPlayer } from 'vue-video-player'
export default {
  components: {
    videoPlayer
  },

  computed: {
    video() {
      return this.$store.state.videos.find(
        vid => vid.id == this.$route.params.id
      );
    },
     playerOptions () {
        return {
            // videojs options
          language: 'en',
          playbackRates: [0.7, 1.0, 1.5, 2.0],
          sources: [{
            type: "video/mp4",
            src: this.video.videoUrl
          }],
          poster: this.video.thumbnail,
        }
    }
  }
};
</script>

<style lang="scss" scoped></style>
