<template>
    <div>
        <VueScriptComponent script='<script shaka-player.compiled.js></script>'/>
        <video id="video"
           width="640"
           poster="//shaka-player-demo.appspot.com/assets/poster.jpg"
           controls autoplay></video>
    </div>
</template>

<script>
import VueScriptComponent from 'vue-script-component'
export default {
    components: {
        VueScriptComponent
    },

    data() {
    return {
    };
  },
    methods : {
      initPlayer : function() {
      shaka.polyfill.installAll()

      // Find the video element.
      var video = document.getElementById('video')

      // Construct a Player to wrap around it.
      var player = new shaka.player.Player(video)

      // Attach the player to the window so that it can be easily debugged.
      window.player = player;

      // Listen for errors from the Player.
      player.addEventListener('error', function(event) {
        console.error(event);
      });

      // Construct a DashVideoSource to represent the DASH manifest.
      var mpdUrl = 'https://turtle-tube.appspot.com/t/t2/dash.mpd'
      var estimator = new shaka.util.EWMABandwidthEstimator();
      var source = new shaka.player.DashVideoSource(mpdUrl, null, estimator)

      // Load the source into the Player.
      player.load(source)
      } 
  },
  mounted: function () {
  this.$nextTick(function () {
    src="shaka-player.compiled.js"
    document.addEventListener('DOMContentLoaded', initPlayer);
  })
}
}
    
</script>

<style lang="scss" scoped>

</style>